@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;


  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 95%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }


}

@layer base {

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(0 0% 38%);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 30%);
  }

  .dark ::-webkit-scrollbar-thumb {
    background: hsl(0 0% 17%);
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 25%);
  }


  * {
    @apply border-border;
  }

  body {
    @apply transition-all duration-300 ease-in-out bg-background text-foreground;
  }

  h1 {
    @apply font-bold text-3xl my-4;
  }

  h2 {
    @apply font-bold text-2xl my-3;
  }

  h3 {
    @apply font-bold text-xl my-2;
  }

  ul[data-type="taskList"] {
    @apply list-none p-0;

    p {
      @apply m-0;
    }

    li {
      @apply flex;

      >label {
        @apply flex-initial mr-2 select-none;
      }

      >div {
        @apply flex-1;
      }

      ul li,
      ol li {
        @apply list-item;
      }

      ul[data-type="taskList"]>li {
        @apply flex;
      }
    }
  }

  hr {
    @apply border-t border-border my-4;
  }

  ul {
    @apply p-2
  }

  ul li {
    @apply list-disc p-2;
  }

  ol {
    @apply p-2
  }

  ol li {
    @apply list-decimal p-2;
  }

  table {
    @apply w-full;
  }

  table th {
    @apply font-bold text-left dark:bg-neutral-800;
  }

  table th,
  table td {
    @apply border border-border p-2;
  }

  div[data-youtube-video] {
    @apply flex items-center justify-center w-full p-4;
  }

  p {
    a {
      @apply text-blue-500 hover:underline;
    }

    code {
      @apply bg-gray-200 dark:bg-gray-800 p-1 rounded;
    }

    mark {
      @apply rounded;

      em {
        @apply p-2 text-black;
      }
    }
  }
}